
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    width: 95vw;
    height: 60px;
    overflow: hidden;
}
.header .logo img{
    height: 50px;
    margin-top: 7px;
}
.header .links{
    display: block;
}
.header .links a{
    color: var(--white);
    padding: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    transition: 0.5s;
    display: inline-block;
}
.header .links a:hover{
    color: var(--brown);
    transform: scale(1.5);
}
